.THIS {
}
.THIS .mainCard{
    border-radius : 1rem;
}
.THIS.mainDiv{
    background: rgb(38,28,30);
    height: 600px;
    background: linear-gradient(90deg, rgba(38,28,30,1) 35%, rgba(131,0,0,1) 100%, rgba(110,17,17,0.7231267507002801) 100%);
}
.THIS .btnCls{
    border-radius: 1.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,16,16,1) 0%, rgba(55,28,28,1) 100%);
    font-size: 15px;
    color: white!important;
    font-family: cursive;
    margin-bottom: 18px;
    margin-top: 12px;
}
.THIS .btnCls:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,11,11,1) 0%, rgba(189,15,15,1) 100%);
    color:  white!important;
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.THIS .cardBody{
    padding: 1px;
}
.THIS .signUp{
    color : blue;
    font-weight : 200;
    margin-bottom : 20px;
}
.THIS .headerImage{
    height: 80px;
    width: 80px;
    border-radius: 1rem;
    margin-top : 15px;
    margin-bottom : 10px;
}