.THIS {
}
.THIS .headerImage{
    height: 80px;
    width: 80px;
    border-radius: 1rem;
    margin-top : 15px;
    margin-bottom : 10px;
}
.THIS .pay{
    font-weight : 400;
    font-size : 20px;
    font-family: cursive;
}
.THIS .packageCls{
	font-weight : 400;
    font-size : 20px;
    font-family: cursive;  
    color: red;
}

.THIS .mainCard{
    border-radius : 1rem;
}
.THIS .btnCls{
    margin-bottom: 18px;
    margin-top: 25px;
    width: 89%!important;
    border-radius: 1.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,16,16,1) 0%, rgba(55,28,28,1) 100%);
    font-size: 15px;
    color: white!important;
    font-family: cursive;
    width: 90%;
} 
.THIS .btnCls:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,11,11,1) 0%, rgba(189,15,15,1) 100%);
    color:  white!important;
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.THIS .loginUser{
    
    color: blue;
}
.THIS .masked .slds-input{
    -webkit-text-security : disc;
}